{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="icon" type="image/x-icon" href="{{'media/gs-favicon.png'}}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-margin-y">
    <div class="row mb-5">
        <div class="col">
            <h1 class="main-header text-center">Delivery</h1>
            <hr>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col info-text">
            <p>
                <b>Shipping to the UK</b>
                <br><br>
                Free shipping applies to all UK orders over £50, otherwise we will add a 10% delivery fee to 
                your order at checkout. Orders to Scottish Islands, Channel Islands or the Isle of Man may require 
                additional postage fees.
                <br>
                We offer 3-day delivery on all our products to customers in England, 
                Scotland, Northern Ireland and Wales, but it's likely that your delivery 
                may arrive much quicker than this. In fact, 98% of orders placed before 2pm are delivered to customers 
                the next working day.
                <br>
                All of our orders are delivered by DHL. During December and other busy periods, 
                please be aware that delivery times may be impacted.
                <br><br>
                <b>Collection from the brewery</b>
                <br><br>
                Collection from the brewery is only available to those age 18 or over. We may ask to see ID and reserve the right not to 
                serve anyone we believe to be underage or intoxicated. We hold our collection days on the last Saturday 
                of the month at Leigh Rufc. Sign up to our news letter or follow us on social media for more information.
                <br><br>
                <b>Shipping to the EU & overseas</b>
                <br><br>
                Unfortunately, we are not currently able to ship our products to customers outside of the UK.
                <br><br>
                <b>Age restriction</b>
                <br><br>
                You must be 18 or older to buy alcohol. By placing an order with us online 
                you are confirming you are 18 or older. It is an offence to sell alcohol to 
                anyone under the age of 18 in the UK.
                <br>
                If you are buying alcohol for someone else, the recipient must also be 18 or older.
                <br>
                Deliveries must be accepted by a person aged 18 or older. If our couriers are in any 
                doubt about the age of the recipient on delivery, they will request photo ID. 
                We reserve the right to cancel the delivery if the age and identity of the recipient 
                is in doubt.
                <br><br>
                <b>Orders</b>
                <br><br>
                If we are unable to fulfil the whole of your order for any reason we will attempt to 
                contact you via the contact email address provided on your order. We may as a result 
                replace items with a similar value/size/type. In exceptional circumstances we reserve 
                the right to hold off your order and contact you for further instruction on how you would 
                like to proceed.
                <br><br>
                <b>Faulty or damaged items</b>
                <br><br>
                If there is a problem with your order or items are faulty, you must inform George Shaw Brewery 
                within 30 days of receipt of the order to obtain a refund. To report a problem please contact us 
                at info@georgeshawbrewery.com. We are unfortunately unable to offer refunds after this time period has 
                elapsed, but we will do everything in our power to try to work something out.
                <br><br>
                If an attempted delivery is obviously damaged, you are within your rights to refuse the order, 
                at which point it will be returned to us. If you choose to do this, please contact us at 
                info@georgeshawbrewery.com and we will issue either a resend of the order, or a full refund, 
                whichever is preferable.
                <br><br>
                We cannot accept responsibility for delivery failure if you provide an incorrect address 
                and postal code or incorrect contact telephone number. Please check this information when 
                placing your order.
                <br><br>
                This does not affect your statutory rights.
                <br><br>
                <b>Taxes & other charges</b>
                <br><br>
                For orders that are paid for in the UK, VAT is payable on all online shop orders regardless 
                of the final destination country. We keep all international surcharges to a minimum where 
                possible, but this charge is not something we have the ability to waiver.
                <br><br>
                These terms and conditions do not affect your statutory rights.
            </p>
        </div>
    </div>
</div>
{% endblock %}