{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="icon" type="image/x-icon" href="{{'media/gs-favicon.png'}}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-margin-y">
    <div class="row mb-5">
        <div class="col">
            <h1 class="main-header text-center">Refund Policy</h1>
            <hr>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col info-text">
            <p>
                <b>Return & Refund Policy</b>
                <br><br>
                Thanks for shopping at georgeshawbrewery.com
                <br>
                If you are not entirely satisfied with your purchase, we're here to help.
                <br><br>
                <b>Returns</b>
                <br><br>
                You have 14 calendar days to return an item from the date you received it.
                <br>
                To be eligible for a return, your item must be unused and in the same 
                condition that you received it.
                <br>
                Your item must be in the original packaging.
                <br>
                Your item needs to have the receipt or proof of purchase.
                <br><br>
                <b>Refunds</b>
                <br><br>
                Once we receive your item, we will inspect it and notify you that we have received your 
                returned item. We will immediately notify you on the status of your refund after inspecting 
                the item.
                <br>
                If your return is approved, we will initiate a refund to your credit card (or original 
                method of payment).
                <br>
                You will receive the credit within a certain amount of days, depending on your card 
                issuer's policies.
                <br><br>
                <b>Shipping</b>
                <br><br>
                You will be responsible for paying for your own shipping costs for returning your item. 
                Shipping costs are nonrefundable.
                <br>
                If you receive a refund, the cost of return shipping will be deducted from your refund.
                <br><br>
                <b>Contact us</b>
                <br><br>
                If you have any questions on how to return your item to us, contact us:
                <br>
                Email:  <a href="mailto:info@georgeshawbrewery.com" class="text-black">info@georgeshawbrewery.com</a>
                <br>
                Phone: <a href="tel:07788872757" class="text-black">07788 872 757</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}