{% extends "base.html" %}
{% load static %}

{% block extra_css %}
   
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="hero-image">
    <img src="{{ 'media/hero-img.jpg' }}" alt="Bottles of beers">
    <div class="hero-overlay">
        <h6 class="text-white pb-5 text-capitalize">
            Get beer delivered straight to your house!
        </h6>
        <a href="{% url 'products' %}" class="pl-2 pr-2 white-btn w-100">Shop Now</a>
    </div>
</div>

<div class="small-hero-content container">
    <div class="sml-hero-img">
        <img src="{{ 'media/Product_image_8.jpeg' }}" alt="Image of beers">
    </div>
    <div class="sml-hero-txt">
        <h3>Get beers delivered straight to your house now!</h3>
        <a href="{% url 'products' %}" class="black-btn">Go to shop</a>
    </div>
</div>



{% include 'includes/newsletter.html' %}





{% endblock %}

{% block postloadjs %}
{{ block.super }}
    
{% endblock %}