<footer>
    <div class="footer-wrapped container">
        <div class="left-f-wrapped">
            <div class="footer-content" id="q_links">
                <h3>Quick Links</h3>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'story' %}">Our Story</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">Shop</a>
                    </li>
                    <li>
                        <a href="{% url 'news' %}">News</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="footer-content" id="c-information">
                <h3>Customer information</h3>
                <ul>
                    <li>
                        <a href="{% url 'delivery' %}">Delivery Policy</a>
                    </li>
                    <li>
                        <a href="{% url 'terms' %}">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="{% url 'privacy' %}">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="{% url 'refund' %}">Refund Policy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-f-wrapped">
            <div class="footer-content" id="get_in_touch">
                <h3>get in touch</h3>
                <ul>
                    <li>
                        <a href="">Leigh RUFC, Hand Lane, WN7 3NA
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@georgeshawbrewery.com">
                            Info@georgeshawbrewery.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:07788872757">07788 872 757</a>
                    </li>
                </ul>
            </div>
            <div class="footer-content" id="follow-us">
                <h3>Follow us</h3>
                <div class="f-socials">
                    <a href="" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy container">
        <p>©George Shaw Brewery 2023</p>
        <p>Designed and developed by <a href="https://jonnywdev.github.io/Jonny_Whittle/" target="_blank">Jonny Whittle</a></p>
    </div>
</footer>