<div class="container newsletter-wrapped">
    <div class="newsletter">
        <h1 class="text-left">
            Sign up <br>to our <br>newsletter.
        </h1>
        <p>
            And get all the latest Beer news and offers...
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <input type="email" class="form-control" id="userEmail newsletter-email" placeholder="Enter email" required>
            </div>
            <input type="submit" value="Sign me up" id="sign-me-up" class="btn">     
        </form>
    </div>
    <div class="connect">
        <div class="connect-content">
            <h2 class="text-white">
                Connect with us…
            </h2>
            <p class="pt-2">For all the latest news on George Shaw follow us on social media.</p>

            <div class="connect-socials text-white">
                <a href="https://www.facebook.com/georgeshawbrewery" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://twitter.com/gshawbrewery" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="https://www.instagram.com/georgeshawbrewery/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

  <!-- message if email is sent -->
  {% if messages %}
    {% for message in messages %}
      <div class="my-5 alert alert-success">
        <h5 class="m-0">
            {{ message }}
        </h5>
      </div>
    {% endfor %}
  {% endif %}