{% extends "base.html" %}
{% load static %}


{% block extra_css %}

{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-margin-y">
    <div class="row mb-5">
        <div class="col">
            <h1 class="main-header text-os">Our Story</h1>
        </div>
    </div>
    <div class="about-row">
        <div class="about-txt">
            <p>
                George Shaw Brewery was a brewery located in Leigh, a town in the Greater Manchester 
                area of England. The brewery was established in the mid-19th century and was named 
                after its founder, George Shaw.
                <br><br>
                The brewery was known for its production of mild and bitter ales, and at its peak,
                 it was a major employer in the local area, with its products being sold throughout 
                 the region. The brewery also had its own pub, The Railway Inn, which was located near 
                 the railway station in Leigh.
                <br><br>
                However, like many small breweries in the UK, George Shaw Brewery struggled to compete 
                with larger, more established brewers and was eventually forced to close in the 1960s. 
                The site of the brewery is occupied by a supermarket.
            </p>
        </div>
        <div class="about-img">
            <img src="https://george-shaw-brewery.s3.eu-west-2.amazonaws.com/static/media/our-story-1.jpeg" alt="Meet the team">
        </div>
    </div>
    <div class="our-images mt-4">
        <img src="https://george-shaw-brewery.s3.eu-west-2.amazonaws.com/static/media/our-story-2.jpeg" alt="Some of our team selling our beers at Leigh Spinners">
        <img src="https://george-shaw-brewery.s3.eu-west-2.amazonaws.com/static/media/our-story-3.jpeg" alt="Some of our team selling our beers at Leigh Spinners">
        <img src="https://george-shaw-brewery.s3.eu-west-2.amazonaws.com/static/media/our-story-4.jpeg" alt="Some of our team selling our beers at Leigh Festival">
    </div>
</div>

{% include 'includes/newsletter.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}