{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="icon" type="image/x-icon" href="{{'media/gs-favicon.png'}}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-margin-y">
    <div class="row mb-5">
        <div class="col">
            <h1 class="main-header text-center">Contact Us</h1>
            <p class="text-center w-75 mx-auto">Easily get in touch with us via our contact form!</p>
        </div>
    </div>
    <div class="contact-wrapped">
        <div class="contact-form">
            <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
                <button type="submit" class="black-btn">Submit</button>
            </form>
        </div>
        <div class="contact-right">
            <div class="otherways-tc">
                <h5 class="main-header">Or Reach out a different way!</h5>
                <p class="text-left mt-4">Phone us: <a href="tel:07788872757" class="text-black">07788 872 757</a></p>
                <p class="text-left">Email us: <a href="mailto:Georgeshawbrewery.com" class="text-black">Georgeshawbrewery.com</a></p>
            </div>
            <div class="contact-img-wrapped">

            </div>
        </div>
    </div>
</div>
{% endblock %}