{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="icon" type="image/x-icon" href="{{'media/gs-favicon.png'}}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-margin-y">
    <div class="row mb-5">
        <div class="col">
            <h1 class="main-header text-center">Thank You!</h1>
            <p class="text-center w-75 mx-auto">We have recieved your message and will be in touch as soon as possible.</p>
            <hr>
        </div>
    </div>
</div>

{% include 'includes/newsletter.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}